[color "status"]
    added = green
    changed = yellow
    untracked = red

[core]
    excludesfile = ~/.gitignore_dotfiles
    editor = /usr/local/bin/vim

# Use seperate file for username, GitHub token, etc.
[include]
    path = ~/.gitconfig.local
